#canvas, #poemCanvas{
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
    width:60%;
    height:70%;
    padding:0;
    border: 5px solid black;
} 
* {
    margin:0;
    padding:0;
}
#startBtn{
    position:absolute;
    margin-left: 25%;
    margin-top: 42%;
    width: 15%;
    font-family: 'Inconsolata',monospace;
    font-size: 18pt;
    padding:10px;
    border: 1px solid #2EC4B6FF;
    transition: all .25s ease-in-out;
    text-align: center;
}
#startBtn:hover{
    background-color: #2EC4B6FF;
    color:white;
    cursor: pointer;
}

#poemBtn{
    position:absolute;
    margin-left: 60%;
    margin-top: 42%;
    width: 15%;
    font-family: 'Inconsolata',monospace;
    font-size: 18pt;
    padding:10px;
    border: 1px solid #DA4167FF;
    transition: all .25s ease-in-out;
    text-align: center;
}
#poemBtn:hover{
    background-color: #DA4167FF;
    color:white;
    cursor: pointer;
}
header{
    width: 100%;
    text-align: center;
    background-color: #34344AFF;
    height:10vh;
    line-height: 10vh;
    color:white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30pt;
}
.tagline{
    text-align: center;
    padding-top:5%;
}